body{
    background-color: pink;
    padding: 100px;
}

#title{
    text-align: center;
    font-size: 30px;
   }

button{
    color: #fff;
    background-color: #0dba4b;
    border-color: #0dba4b;
    min-width: 9.2rem;
    
}

form{
    color: #495057;
    background-clip: padding-box;
    border-radius: .25rem;
    display: block;
}

tr,td{
    border: 2px solid red;
    margin: 15px;
    padding: 10px;
}
th{
    border: 2px solid red;
    margin: 15px;
    padding: 10px;
}